<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
                logFile="proxy_log.log"
                logLevel="INFO"
                mustMatch="true">
  <serverUrls>
    <serverUrl url="http://services.arcgisonline.com"
        matchAll="true"/>
    <serverUrl url="http://basemapsbeta.arcgis.com"
        matchAll="true"/>
    <serverUrl url="http://coolmaps.esri.com"
        matchAll="true"/>
    <serverUrl url="http://coolmaps.esri.com/VectorTiles/"
        matchAll="true"/>
    <serverUrl url="http://map.geoq.cn"
        matchAll="true"/>
    <serverUrl url="http://sandbox.arcgisonline.cn:6080"
        matchAll="true"/>
    <serverUrl url="https://services.arcgisonline.com"
        matchAll="true"/>
    <serverUrl url="http://server.arcgisonline.com"
        matchAll="true"/>
    <serverUrl url="http://js.arcgis.com"
        matchAll="true"/>
    <serverUrl url="https://www.arcgis.com"
        matchAll="true"/>
    <serverUrl url="http://localhost"
            matchAll="true"/>
        <serverUrl url="http://server.arcgisonline.com"
            matchAll="true"/>
     <serverUrl url="http://tm.arcgisonline.cn:8038"
                matchAll="true"/>


  </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
